.ku {
  background-image: url("../assets/education/KU.png");
}

.glacier {
  background-image: url("../assets/education/glacier.png");
}

.mva {
  background-image: url("../assets/education/mva.png");
}
